.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 40%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 38%
    right: 5%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 18%
    right: 80%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 400px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/interno.png") !important

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white
.w-card-icon
  width: min-content
  z-index: 1
.w-card-text
  position: relative
  padding-left: 40px
  padding-right: 40px
  left: -30px
  top: 8px
  width: fit-content

.w-card-text2
  position: relative
  padding-left: 40px
  padding-right: 40px
  left: -30px
  top: 8px
  width: fit-content

.bg1
  background-color: #DCBFDC
.bg2
  background-color: #E2E2E0
.bg3
  background-color: #8A2C8C
  border-top-right-radius: 40px
  border-bottom-right-radius: 40px
.bg4
  background-color: #CDBFDC
  border-radius: 20px
.bg5
  background-color: #ffff
  border-radius: 10px
.bg6
  background-color: #CDBFDC
.bg7
  background-color: #F6F6F6
.bg8
  background-color: #371138
.bg9
  background-color: #EEEEEE
.bg10
  background-color: #D2E6BD
.bg11
  background-color: #5A2C8C
.bg12
  background-color: #BFC0DC
.bg13
  background-color: #2C2E8C
.bg14
  background-color: #ffff
  border-radius: 20px
.tarjeta--boton 
  border-radius: 20px
  background-color: #D2E6BD
  cursor: pointer
   transition: background-color 0.3s ease-in-out
.tarjeta--boton.color-primario:active, .tarjeta--boton.color-primario:focus, .tarjeta--boton.color-primario:hover 
  background-color: #BFC0DC 
.w-10
  width: 20%
.tarjeta-audio.color-acento-botones .tarjeta-audio__texto 
  color: #212529
.fst-italic
  font-style: normal !important
.izq
  margin-left: -1.5rem
.bg1slyder
  background-image: url('../assets/curso/Tema1/fondot1.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 767px)
 
    background-size: cover 
.slyder__btn 
  background-color: #6CAC25
.fondot1
  background-image: url('../assets/curso/Tema1/trazado.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.fondot2
  background-image: url('../assets/curso/Tema2/fondot2.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.fondot1_1
  background-image: url('../assets/curso/Tema1/fondot1_1.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.fondot3
  background-image: url('../assets/curso/Tema3/slyder.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.titulo-segundo:after 
  border-left-color: #2C2E8C
.text-left
  text-align: left !important
.solidos-badge 
  background-color: #8A2C8C
  display: inline-block
  padding: 8px 80px 8px 45px !important /* más espacio derecha */
  border-top-right-radius: 20px
  border-bottom-left-radius: 20px
  position: relative
  padding-left: 10px !important
  padding-right: 40px
  width: fit-content
.acordion__accion__btn--a
  background-color: #6CAC25 !important
.acordion .tarjeta--azul
  background-color: #BFC0DC !important
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #CDBFDC !important
.tabs-c.color-primario .tabs-c__tab--active
  border-bottom-color: #6CAC25 !important
  background-color: #ffff !important
.tabs-c.color-primario .tabs-c__tab--active:before 
  border-top-color: #6CAC25 
.tabs-c.color-primario .tabs-c__tab
  background-color: #E2E2E0 
.icono-circulo
  width: 32px
  height: 32px
  border-radius: 50%
  background-color: #7CB518
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0

.flecha
  width: 10px
  height: 10px
  border-left: 4px solid #1B3A4B
  border-top: 4px solid #1B3A4B
  transform: rotate(45deg)
.tarjeta.color-acento-botones--borde
  background-color: #E2E2E0
  border: #E2E2E0
.tabs-a__tab 
  background-color: #DCBFDC
.tabs-a__tab   
  display: block
  width: 100%
  text-align: left
  padding: 15px 20px
  border-radius: 5px
  line-height: 1.2em
  &__text
    overflow: auto
    text-overflow: initial
    text-wrap: auto

.bloque-texto-g.color-primario 
  background-color: #5A2C8C
  border-radius: 0 300px 300px 0
.bloque-texto-g__texto 
  position: relative
  left: -70px
  z-index: 2
  @media screen and (max-width: 992px)
    margin: 0 auto
    width: 100%
    position: relative
    left: 0px /* micro ajuste visual */
    margin-top: -13rem
  @media screen and (max-width: 767px)
    margin: 0 auto
    width: 100%
    position: relative
    left: 0px /* micro ajuste visual */
    margin-top: -10rem

.linea-tiempo-d.color-primario .linea-tiempo-d__item__number
  background-color: #CDBFDC !important

.linea-tiempo-d.color-primario .linea-tiempo-d__item__content
  background-color: #CDBFDC !important

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #6CAC25 !important

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__content
  background-color: #D2E6BD !important

.tabs-b__tab--active 
  background-color: #CDBFDC
  border-top: 5px solid !important
  border-bottom: none


.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right 
    min-width: 50px
    max-width: 50px
    min-height: 50px
    max-height: 50px
    flex: auto
    border-radius: 50%
    border: 2px solid #cccccc
    position: relative
    cursor: pointer
    transition: border-color 0.2s ease-in-out
    background-color: #6CAC25
.pasos-b__header__item--before .pasos-b__header__item__dot 
    border-color: #8A2C8C
    background-color: #8A2C8C